body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
header{
    background: url(/img/LogoEdit.png) space;
    background-position: left;
    padding: 50px;
    background-color: greenyellow;
    text-align: center;
    
}
button{
    text-align: center;
   background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    margin-top: 1%;
}

.www{
    width: 80%;
}

.mid-img {
    width: 20%;
    height: 50%;
    display: block;
    margin: 0 auto;
  }
